<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="comment-top">
    <h4>Bir yorum yapın</h4>
    <div class="comment-bottom">
        <form method="post">
            <input id="CommentUserName" class="form-control" type="text" name="CommentUserName" placeholder="Ad Soyad" required="">
            <input id="CommentTitle" class="form-control" type="text" name="CommentTitle" placeholder="Başlık" required="">

           
            <textarea id="CommentContent" class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <button id="btn" type="submit" class="btn btn-primary submit">Yorum yap</button>
        </form>
    </div>
</div>


<script>
    $('#btn').click(function () {
        let values = {
            CommentUserName: $("#CommentUserName").val(),
            CommentTitle: $("#CommentTitle").val(),
            CommentContent: $("#CommentContent").val()
        };

        console.log(values)
        $.ajax({
            type: "post",
            url: "/Comment/PartialAddComment/",
            data: values,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                window.location.reload();
            }
        });

    });
</script>