
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>
                <div class="read">
                    <a href="/about/index" class="btn btn-primary read-m">Devamını oku..</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

            @await Component.InvokeAsync("BlogLast3Post")
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Mail bülteni abone ol</h2>
                <div class="subscribe-main text-left">
                    <div class="subscribe-form">
                        <form method="post" class="subscribe_form">
                            <input id="emailValue"  class="form-control" type="email" placeholder="Email Adresini giriniz" required="" name="Mail">
                            <button type="submit" id="btn" class="btn btn-primary submit">Gönder</button>
                            
                        </form>
                        <div class="clearfix"> </div>
                    </div>
                   
                </div>
                <!-- //subscribe -->
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-google-plus-g"></i>
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-pinterest-p"></i>
                                <span>Pinterest</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year Weblog. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/">W3layouts</a>
                </p>

            </div>
        </div>

        <!-- //footer -->
    </div>
</footer>

<script>
    $('#btn').click(function () {
        let values = {
            Mail: $("#emailValue").val()
        };

        $.ajax({
            type: "post",
            url: "/NewsLetter/SubscribeMail/",
            data: values,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("abone olundu")
            }
        });

    });
</script>